<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light" class="bottom-tab">
      <ion-tab-button tab="beers" class="tab-button">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" class="tab-button">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cart" class="tab-button">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Cart</ion-label>
        <ion-badge class="noti-badge">10</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
